#UserPage {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  margin-bottom: -100px;
}

.UserTitle {
  width: 100vw;
  padding: 35px 200px;
  box-sizing: border-box;
  font-size: 40px;
}