.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #B38FFF;
    color: white;
    height: 100px;
    width: 100vw;

}
.LogoBox{
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: content-box;
    margin: 0px 0px 0px 80px;

}
.Menu{
    display: flex;
    justify-content: right;
    box-sizing: content-box;
    align-items: center;
    margin: 0px 35px 0px 0px;
}
.MenuButton{
    align-items: center;
    margin: 0px 15px 0px 15px
}
.LoginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin: 0px 15px 0px 15px;
    width: 100px;
    height: 50px;
    background-color: #8C5DA1;
    z-index: 1;
}
#svgLogo{
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 600px) {
    .MenuButton{
        display: none;
    }
    .LoginButton{
        display: none;
    }
}
