.Navbar{
    display: flex;
    justify-content: center;
    background-color: #B38FFF;
    align-items: center;
    color: white;
    height: 100px;
    width: 100vw;

}
.Logo{
    display: flex;
    justify-content: left;
    box-sizing: content-box;
    width: 50vw;
    margin: 0px 0px 0px 100px;

}
.Menu{
    display: flex;
    justify-content: right;
    box-sizing: content-box;
    align-items: center;
    width: 50vw;
    margin: 0px 150px 0px 0px;
}
.MenuButton{
    align-items: center;
    margin: 0px 15px 0px 15px
}
.LoginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: #8C5DA1;
}