.Footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: right;
    /*background-color: #000000;*/
    background-color: #8C5DA1;
    align-items: center;
    color: white;
    height: 60px;
    width: 100vw;
}
.Marker{
    display: flex;
    margin: 0px 80px 0px 0px;
}