.Footer{
    display: flex;
    justify-content: right;
    position: relative;
    box-sizing: border-box;
    /*background-color: #000000;*/
    background-color: #8C5DA1;;
    align-items: center;
    color: white;
    height: 60px;
    width: 100%;
    z-index: 2;
}
.Marker{
    display: flex;
    margin: 0px 80px 0px 0px;
}